.app_banner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px;
    overflow: hidden;
}

.app_banner_title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.app_banner_child {
    width: 300%;
}

.app_banner_child ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.app_banner_child ul li {
    width: 33.33%;
    list-style: none;
    height: 100%;
    float: left;
}

.app_banner_child ul li img {
    width: 100%;
}



.title_container {
    margin-top: 340px;
    text-align: center;
}



.app_banner_title p {
    text-align: center;
    color: #fff;
}

.banner_first_title {
    font-size: 24px;
    letter-spacing: 5px;
}

.banner_line {
    display: block;
    width: 56px;
    border-bottom: 2px #fff solid;
    margin: 24px auto 0;
}

.banner_second_title {
    font-size: 60px;
    font-family: "Microsoft YaHei";
    line-height: 1.2;
    text-align: center;
    letter-spacing: 15px;
    margin-top: 24px;
    font-weight: 500;
}

.banner_third_title {
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: 36px;
}

.banner_fourth_title {
    margin-top: 83px;
    text-align: center;
}

.banner_button {
    color: #14a7e4;
    padding: 8px 32px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #14a7e4;
    letter-spacing: 3px;
}

.banner_button::after {
    content: '》';
    position: relative;
    left: 10px;
}

.banner_button:hover {
    color: #fff;
    background: #14a7e4;
}

.banner_button:active {
    color: #fff;
    background: #14a7e4;
}

.banner_fourth_title a:last-child {
    margin-left: 20px;
}

.banner_bottom {
    position: absolute;
    bottom: 15px;
}





/* main body */

.index_secondFloor {
    background: url('../images/index_secondFloor.png');
}

.homepage_main {
    position: relative;
}

.main_title {
    color: #14a7e4;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.main_slogan {
    font-size: 16px;
    color: #8d8a8a;
    text-align: center;
    margin-bottom: 50px;
}

.main_circle {
    width: 115px;
    height: 115px;
    border: 1px solid #14a7e4;
    text-align: CENTER;
    vertical-align: middle;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.icon li {
    text-align: center;
    width: 33%;
    list-style: none;
    float: left;
}

.icon li p {
    font-size: 18px;
    color: #1b1a1f;
    text-align: center;
}

.more {
    margin-left: 0!important;
}

.learn_more {
    margin-top: 56px;
    margin-bottom: 70px;
    text-align: center;
}

.thirdFloor {
    margin: 70px 0;
}

.thirdFloor_img {
    width: 78px;
    height: 78px;
    border: 1px solid #14a7e4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdFloor_left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.thirdFloor_left span {
    font-size: 24px;
    font-family: "Microsoft YaHei";
    color: rgb(80, 80, 80);
    line-height: 1.2;
    padding-left: 20px;
    position: relative;
    background: #f7f7f7;
    left: -20px;
}

.thirdFloor_columns p {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(141, 138, 138);
    line-height: 1.2;
    margin-top: 30px;
}
.index_thirdFloor .container{
    padding:0 130px;
}
.line{
    width: 1px;
    height:100px;
    border-left: 1px solid #ccc;
}
.parse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}
.thirdFloor_columns .learn_more{
    margin-top:51px;
    margin-bottom: 86px;
}
.index_thirdFloor{
    background: url('../images/thirdFloor_columns.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*赊账模态*/
.modal_width{
    width: 551px;
    height:522px;
    margin-top:136px;
}
.credit ul li div input,
.credit ul li div textarea{
    width: 450px!important;
    height: 46px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-size: 14px;
}
.credit ul li div textarea{
    height:103px;
    resize: none;
    padding-top:10px;
}
.credit ul{
    margin-bottom: 20px;
}
.credit_submit{
    width: 450px; 
}