* {
    margin: 0px;
    font-family: "microsoft YaHei";
    text-decoration: none;
    padding: 0px;
}
a:hover,
a:active,
a:link,
a:visited{
    text-decoration: none;
}
.clear {
    clear: both;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    z-index: 2;
}

.app_logo {
    padding-right: 20px;
}

.app_header {
    height: 67px;
    border-bottom: 1px solid #637583;
}

.app_header_ul li {
    float: left;
    list-style: none;
    line-height: 67px;
}

.app_header_ul ul {
    float: right;
}

