.service_banner{
    width: 100%;
    background: url('../images/service_banner.png');
    min-height: 518px;
    padding-top: 212px;
}
.organization {
    background: #fafafa!important;
}
.service_banner_title{
    color: #fefefe;
    font-size: 36px;
    text-align: center;
}
.service_banner_title1{
    color: #fefefe;
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 28px;
}
.btob{
    width: 100%;
    background: url('../images/btob_banner.png');
    background-repeat: no-repeat;
    padding-top:84px;
    padding-bottom: 87px;
}
.btob_title{
    font-size: 30px;
    color: #202020;
    text-align: center;
    font-weight: 600;
}
.btob_title_child{
    font-size: 16px;
    font-weight: 500px;
    color: #202020;
    text-align: center;
    margin-bottom: 62px;
}
.btob_circle{
    width:90px;
    height: 90px;
    border: 1px solid #14a7e4;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.btob_grids_title{
    text-align: center;
    font-size: 16px;
    color: #1b1c1f;
    font-weight: 600;
}
.btob_grids_main{
    color: #1b1c1f;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

/*process*/
.process_title{
    font-size: 28px;
    color: #202020;
    text-align: center;
    margin-bottom: 30px;
}
.process{
    background:url('../images/service_banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:80px 0px 200px 0px;
    text-align: center;
}
.process_row{
    padding:0px 200px;
    margin-top: 75px;
    text-align: center;
}
.process_num{
    font-style:normal;
    background: #14a7e4;
    padding: 7px 13px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
}
.process_circle{
    padding:5px;
    border-radius: 50%;
    background: #fff;
    width:60px ;
    height:60px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin:0 auto;
}
.process_grids{
    position: relative;
    z-index: 2
}
.process_grids p{
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top:14px;
    font-weight: 600;
}
.line2{
    width: 540px;
    height: 12px;
    background: url('../images/line2.png');
    background-size: contain;
    margin:0 auto;
    position: relative;
    top:-85px;
    z-index: 1;
}
.demand{
    background:url('../images/demand_banner.png');
    background-size: cover;
}
.demand_row{
    text-align: center;
    padding:80px 100px 0px 100px;
}
.demand_input input{
    width: 100%;
    height: 60px;
    border: 1px solid #14a7e4;
    background:rgba(255,255,255,0);
    font-size: 16px;
    padding-left:10px;
    border-radius: 5px;
}
.demand_input textarea{
    width: 100%;
    height: 170px;
    border: 1px solid #14a7e4;
    background:rgba(255,255,255,0);
    font-size: 16px;
    padding-left:10px;
    border-radius: 5px;
    padding-top: 20px;
}
.code{
    position: relative;
}
.code a{
    position: absolute;
    right: 20px;
    top:9px;
}
.demand_row1{
    margin: 20px 0px;
}
/*radio css*/
.inputRadio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.input_radio {
    position: relative;
    display: flex;
    width:120px;
    justify-content: space-around;
    align-items: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}

label {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
}

/*设置选中的input的样式*/
input[type="radio"]:checked + label{
    border: 1px solid #14a7e4;
}
input[type="radio"]:checked + label::after{
    content: "";
    display: block;
    width:14px;
    height: 14px;
    background: #14a7e4;
    border-radius: 50%;
    position: absolute;
    top:2px;
    left:2px;
}
.input_radio_title,
.input_radio span{
    font-size: 18px;
    color:#686868;
    font-weight: 600;
}
.demand-submitButt{
    text-align: center;
}
.demand-submitButt input[type="submit"]{
    width: 220px;
    height: 40px;
    background: #fff;
    color: #14a7e4;
    border: 1px solid #14a7e4;
    margin-bottom: 20px;
    border-radius: 5px;
}
.demand-submitButt input[type="submit"]:hover{
    background: #14a7e4;
    color: #fff;
    border: 1px solid #14a7e4;
}